@charset "UTF-8";
/**
 * ***************************************
 * ページ全体に関わるCSSの設定
 * ***************************************
 */
html *,
::before,
::after {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

/* フォント */
html {
  font-size: 62.5%;
  line-height: 1.6;
}

body {
  color: #333333;
  font-size: 1.6rem;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400; /* Noto Sans JPのレギュラーウェイトを指定 */
  min-width: 350px;
  width: 100%;
  overflow-x: hidden;
}

/* おもな太字タグのフォントウェイト設定 */
h1,
h2,
h3,
h4,
h5,
h6,
th,
strong {
  font-weight: 700;
}

/* ベースのリンクカラー */
a {
  color: #f30;
  text-decoration: underline;
  transition: 0.4s;
}
a:hover {
  text-decoration: none;
}

a:hover img {
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.3s;
}

/* レスポンシブイメージと画像下スペース防止 */
img {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: bottom; /* 画像下のスペースを消す */
}

/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.l-header {
  background-color: #7a8285;
  color: #fff;
}
.l-header__content {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.l-header__title {
  font-weight: 400;
  font-size: 2.4rem;
}
.l-header__nav ul {
  display: flex;
}
.l-header__nav ul li {
  padding-left: 48px;
}
.l-header__nav ul li a {
  padding-bottom: 3px;
  font-size: 2rem;
}
.l-header__nav ul li a:after {
  content: "";
  width: 0;
  transition: all 0.3s ease;
  border-bottom: 2px solid #fff;
  display: block;
}
.l-header__nav ul li a:hover:after {
  width: 100%;
  border-bottom: 2px solid #fff;
}

.l-footer {
  height: 120px;
  background-color: #7a8285;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-inner {
  max-width: 1220px;
  margin: 0 auto;
  padding: 10px 30px;
}

.c-section {
  margin-top: 86px;
}
.c-section__title {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 4.6rem;
  line-height: 56px;
  margin-bottom: 36px;
}
.c-section__text {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5em;
}
.c-section .archive-description {
  font-size: 2.4rem;
  font-weight: 400;
}

.c-row {
  display: grid;
  grid-template-columns: calc(100% - 304px - 52px) 304px;
  -moz-column-gap: 52px;
       column-gap: 52px;
}

.p-sidebar .widget-title {
  font-size: 2.4rem;
  margin: 40px 0 20px 0;
}
.p-sidebar .wp-widget-group__inner-blocks li {
  border-top: 1px solid #7a8285;
  padding: 10px;
  font-size: 1.6rem;
}
.p-sidebar .wp-widget-group__inner-blocks li .wp-block-latest-posts__featured-image img {
  width: 100%;
  margin-bottom: 10px;
}
.p-sidebar .wp-widget-group__inner-blocks li .wp-block-latest-posts__post-date {
  color: #7a8285;
}
.p-sidebar .wp-widget-group__inner-blocks li time {
  margin-top: 10px;
}
.p-sidebar .wp-widget-group__inner-blocks li:last-child {
  border-bottom: 1px solid #7a8285;
}

.p-fv img {
  width: 100%;
  max-height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-fv-child {
  background-color: black;
  margin: 0 auto 86px;
}
.p-fv-child img {
  max-height: 280px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
}

.p-posts {
  margin-bottom: 220px;
}

.p-article {
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: calc(100% - 220px - 41px) 220px;
  -moz-column-gap: 41px;
       column-gap: 41px;
}
.p-article__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 160%;
  /* or 51px */
  letter-spacing: -0.03em;
  word-wrap: break-word;
}
.p-article__data {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5em;
  /* identical to box height, or 16px */
  color: #7a8285;
}
.p-article__text {
  font-size: 2rem;
  line-height: 1.5em;
}
.p-article__tags {
  display: flex;
  margin: 1rem 0;
}
.p-article__tags .icon-size {
  font-size: 2rem;
  padding-top: 0.5rem;
}
.p-article__tags .tags-links ul {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  line-height: 3rem;
}
.p-article__tags li {
  margin-left: 1rem;
}
.p-article__tags li a {
  font-size: 1.6rem;
  color: #7a8285;
  background-color: #f5f5f5;
  padding: 6px 10px 6px 10px;
  border-radius: 5px;
}
.p-article__tags li a::before {
  content: "#";
}
.p-article .jc-center {
  margin-top: 20px;
  justify-content: center;
}
.p-article__thumbnail img {
  width: 220px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
}
.p-article__content .article-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  /* or 32px */
  margin-bottom: 7px;
}

.tag-sticky .p-article__title::before {
  font-family: "Font Awesome 5 Free";
  content: "\f249 ";
}

.p-article-format h2,
.p-article-format h3,
.p-article-format h4 {
  font-size: 2.4rem;
  line-height: 1.6em;
  margin: 4em 0 2em;
}
.p-article-format h2 {
  background: #7a8285;
  padding: 0.25em 1em;
  color: #fff;
  position: relative;
}
.p-article-format h2::before {
  position: absolute;
  display: block;
  pointer-events: none;
  content: "";
  top: -4px;
  left: 0;
  width: 100%;
  height: calc(100% + 4px);
  box-sizing: content-box;
  border-top: solid 2px #7a8285;
  border-bottom: solid 2px #7a8285;
}
.p-article-format h3 {
  padding: 0.25em 0.5em;
  color: #333;
  background: transparent;
  border-left: solid 5px #7a8285;
}
.p-article-format h4 {
  color: #7a8285;
  padding: 0 0 0 16px;
  border-left: solid 2px #7a8285;
}
.p-article-format h5 {
  font-size: 1.6rem;
  color: #7a8285;
  font-weight: 700;
}
.p-article-format p {
  font-size: 1.6rem;
  line-height: 1.5em;
  margin-bottom: 60px;
}
.p-article-format a {
  text-decoration: underline;
}
.p-article-format a:hover {
  color: #7a8285;
}
.p-article-format pre {
  font-size: 1.4rem;
  padding: 20px;
  margin: 20px 0;
  background: #333;
  line-height: 1.5rem;
  width: 100%;
  overflow: auto;
  overflow-y: hidden;
  color: #7a8285;
}
.p-article-format pre code {
  margin: 0 0 0 40px;
  padding: 18px 0;
  display: block;
}
.p-article-format .code {
  margin: 20px 0;
}
.p-article-format blockquote {
  position: relative;
  border-left: 3px solid #7a8285;
  padding-left: 10px;
  margin: 20px;
  color: #7a8285;
}
.p-article-format blockquote:before {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f10d";
  font-size: 2rem;
  color: #7a8285;
}
.p-article-format blockquote p {
  position: relative;
  padding-left: 30px;
  margin: 0;
}
.p-article-format blockquote cite {
  display: block;
  color: #7a8285;
  text-align: right;
}
.p-article-format table {
  width: 100%;
  font-size: 1.6rem;
}
.p-article-format table thead tr th {
  text-align: center;
  border: none;
  border-bottom: 3px solid #7a8285;
}
.p-article-format table tbody tr td {
  border: none;
  border-bottom: 1px solid #7a8285;
}
.p-article-format table tbody tr td:first-child,
.p-article-format table tbody tr td:nth-child(2) {
  white-space: nowrap;
  text-align: center;
}
.p-article-format ul {
  margin: 10px;
}
.p-article-format ul li {
  position: relative;
  padding-left: 20px;
}
.p-article-format ul li ol li {
  padding-left: 0;
}
.p-article-format ul li ol li::before {
  content: "";
}
.p-article-format ul li::before {
  content: "\f14a";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 0;
  color: #7a8285;
}
.p-article-format ol {
  padding-left: 20px;
  margin: 10px;
}
.p-article-format ol li {
  list-style: upper-roman;
}
.p-article-format ol li ul li {
  list-style: none;
}
.p-article-format ol li::marker {
  color: #7a8285;
}
.p-article-format form {
  text-align: center;
}
.p-article-format form input {
  padding: 10px 15px;
  border-radius: 10px;
  transition: 0.3s ease;
  color: #7a8285;
}
.p-article-format form input[type=password] {
  border: 2px solid #7a8285;
}

.jc-center {
  justify-content: center;
}

.page-links {
  margin-top: 50px;
  text-align: center;
}
.page-links .post-page-numbers {
  color: #7a8285;
}
.page-links .post-page-numbers:nth-child(n+2) {
  margin-left: 30px;
}
.page-links a {
  text-decoration: none;
}
.page-links .current {
  color: #333;
}

#ez-toc-container {
  width: 100%;
  margin-bottom: 30px;
  padding: 1em 1em 1em 2em;
  border-top: 4px double #7a8285;
  border-bottom: 4px double #7a8285;
  background-image: linear-gradient(-45deg, transparent 25%, #eee 25%, #eee 50%, transparent 50%, transparent 75%, #eee 75%, #eee);
  background-clip: padding-box;
  background-size: 4px 4px;
}
#ez-toc-container .ez-toc-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 5px 0;
}
#ez-toc-container nav ul {
  list-style-type: disc;
  margin: 0;
  padding: 0 1.2em;
  overflow: hidden;
}
#ez-toc-container nav ul ul {
  margin-top: 5px;
}
#ez-toc-container nav ul li {
  padding: 5px 0;
}
#ez-toc-container nav ul li a .toc-004 a {
  color: #7a8285;
  text-decoration: none;
}
#ez-toc-container nav ul li::before {
  content: "";
}

.p-cp__text {
  font-size: 14px;
}

.pagination {
  margin-top: 66px;
}
.pagination .nav-links {
  color: #7a8285;
}
.pagination .nav-links .page-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .nav-links .page-numbers .current {
  color: #333;
}
.pagination .nav-links .page-numbers .page-numbers {
  font-size: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.pagination .nav-links .page-numbers .page-numbers:nth-child(n+1) {
  margin-left: 36px;
}
.pagination .nav-links .page-numbers img {
  width: 5rem;
  color: #7a8285;
}

.u-post__header {
  margin: 50px 0 30px;
}
.u-post__thumbnail img {
  width: 100%;
  margin-bottom: 30px;
}

/* --------------------------------------
foundation
-------------------------------------- */
/* --------------------------------------
layout
-------------------------------------- */
/* --------------------------------------
object
-------------------------------------- */
/* component
-------------------------------------- */
/* project
-------------------------------------- */
/* utility
-------------------------------------- *//*# sourceMappingURL=style.css.map */