@use "./../../foundation/variable" as *;

.p-sidebar {
  .widget-title {
    font-size: 2.4rem;
    margin: 40px 0 20px 0;
  }
  .wp-widget-group__inner-blocks {
    li {
      border-top: 1px solid $color-main;
      padding: 10px;
      font-size: 1.6rem;
      .wp-block-latest-posts__featured-image {
        img {
          width: 100%;
          margin-bottom: 10px;
        }
      }
      .wp-block-latest-posts__post-date {
        color: $color-main;
      }
      time {
        margin-top: 10px;
      }
    }
    li:last-child {
      border-bottom: 1px solid $color-main;
    }
  }
}
